@tailwind base;
@tailwind components;
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Poppins-Regular.woff2) format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  font-style: bold;
  font-weight: 700;
  src: url(/fonts/Poppins-Bold.woff2) format('woff2');
  font-display: swap;
}

@tailwind utilities;

@layer components {
  .choiceButton {
    @apply border-2 rounded-md text-white p-4 duration-150 hover:bg-[#ffffff33] w-[fit-content];
  }

  .separator {
    @apply h-[2px] w-full bg-accent rounded-md;
  }

  .gradient {
    @apply bg-gradient-to-r from-ocean to-ocean_floor;
  }

  .movingUnderline {
    @apply relative font-bold border-accent hover:before:w-full before:border-b-2 before:border-accent before:w-0 before:py-2 before:duration-300 before:absolute before:left-0 before:top-3 overflow-hidden;
  }
}
