@tailwind base;
@tailwind components;
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Poppins-Regular.woff2) format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  font-style: bold;
  font-weight: 700;
  src: url(/fonts/Poppins-Bold.woff2) format('woff2');
  font-display: swap;
}

@tailwind utilities;

@layer components {
  .choiceButton {
    @apply border-2 rounded-md text-white p-4 duration-150 hover:bg-[#ffffff33] w-[fit-content];
  }
}
